{% extends 'base.html' %}

{% load static %}

{% block customcss%}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss%}

{% block content %}
<body class="text-center">
    {{ error }}
    <main class="form-signin">
      <form method="POST">{% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">サインインする</h1>
        <label for="username" class="visually-hidden">ユーザー名</label>
        <input type="text" id="username" class="form-control" placeholder="ユーザー名" name="username" required autofocus>
        <label for="inputPassword" class="visually-hidden">パスワード</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="パスワード" name="password" required>
        <button class="w-100 btn btn-lg btn-primary" type="submit">サインイン</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
      </form>
    </main>        
</body>
{% endblock content %}
<!-- {{ some }} -->